/*circle*/

.interview {
  max-width: 45em;
  min-width: 35em;

}

.interview  .cta {
  margin-right: $sm;
}

.interview  .con {
  margin-left: $sm;
  max-width: 20em;
}

.interview  h4 {
  line-height: auto;

}

p {
color: $grey1;
display:inline-block;

}
.interview .desc {
  margin-top: $sm;
  max-width: 25em;


}
