/*white*/
$white: #FFFFFF;

/*blues*/
$blue0: #3D74D7;
$blue1: #5389EB;
$blue2: #3369CA;
$blue3: #4279DB;


/*greys */
$grey0: rgba(35,35,35,1);
$grey1: rgba(136,136,136,1);
$grey2: rgba(238,238,238,1);
$grey3: rgba(251,251,251,1);
$grey4: rgba(223,223,223,1);

/*shadow greys*/

$shadow1: rgba(221,221,221,0.5);
$shadow2: rgba(170,170,170,0.5);
